*{
    box-sizing: border-box;
}

body {
    background-color: #F8FAF9;
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    color: #2A3434;
}

h1 {
    font-weight: 200;
    font-size: 3rem;
    margin: 0;
}

h2 {
    margin: 20px 0 0 0;
}

p.subheading {
    text-transform: uppercase;
    font-size: 0.875rem;
    margin-top: 3px;
    color: #576160;
    font-weight: 400;
}

header {
    max-width: 550px;
    margin: 40px auto;
}

main {
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#todo-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
}

.form-label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #576160;
    font-weight: 400;
    gap: 5px;
}

.labelw50 {
    flex-basis: 80%;
}

.labelw25 {
    flex-basis: 10%;
}

input {
    height: 40px;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    height: 40px;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

button {
    height: 40px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    align-self: end;
    background-color: #4E6359;
    border: 0;
    border-radius: 8px;
    color: #fff;
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    font-weight: 400;
    font-size: 1.1rem;

    & li {
        background-color: #fff;
        padding: 30px 30px 30px 80px;
        list-style-type: none;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        cursor: pointer;
    }

    & li::before {
        content: "";
        position: absolute;
        height: 24px;
        width: 24px;
        background-image: url("/src/images/unchecked.svg");
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
    }

    & li.checked {
        color: #576160;
        
        & span.task-text {
            text-decoration: line-through;
        }
    }

    & li.checked::before {
        background-image: url("/src/images/checked.svg");
    }
}

.delete-btn {
    cursor: pointer;
}